<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/moment-with-locales.js' %}"></script>
  {#    <script src="{% static 'js/bootstrap-treeview.min.js' %}"></script>#}
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/buttons.bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/buttons.dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/select.dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/images/sort_both.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/images/sort_asc.png' %}">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datetimepicker.css' %}">
  {#    <link rel="stylesheet" href="(% static 'css/bootstrap-treeview.min.css' %}">#}
  {#  <script type="text/javascript" language="javascript" src="{% static '/js/jquery-3.3.1.js' %}"></script>#}
  <script type="text/javascript" language="javascript" src="{% static '/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" language="javascript" src="{% static '/js/dataTables.bootstrap.min.js' %}"></script>
  <script type="text/javascript" language="javascript" src="{% static '/js/buttons.bootstrap.min.js' %}"></script>
  <script type="text/javascript" language="javascript" src="{% static '/js/dataTables.buttons.min.js' %}"></script>
  <script type="text/javascript" language="javascript" src="{% static '/js/dataTables.select.min.js' %}"></script>
  <link rel="fonts" herf="{% static 'fonts/Ubuntu-B.ttf' %}">
  <link rel="fonts" herf="{% static 'fonts/Ubuntu-BI.ttf' %}">
</head>
<body>
  <div>
    {% block dt_contents %}{% endblock %}
  </div>
</body>