{% extends "base.html" %}
{% load static %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>
  <h4>{{ load_title }}</h4>
</div>
{% block content %}
<div>
  <h4>{{ load_title }}</h4>
</div>
<table id="dt_list" class="table table-striped table-bordered compact" cellspacing="0">
  <thead>
    <tr>
      {% for t in col %}
        <th>{{ t }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for sub in row %}
    <tr>
      {% for s in sub %}
        <td>{{ s }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<script>
  $('#dt_list').DataTable(
  );
</script>
{% endblock %}
