{% extends "base.html" %}
{% load static %}

{% block content %}

  <h3>Lot Query Binning</h3>
  <br>
  <form id="lot_query_bin_form" action='' method=''>
    <label for='lotid'>Lot ID: </label>
    <input id='lotid' type='text' name='lot_field' value=''>
    <br><br>
    <label for='eqid'>EQ ID: </label>
    <input id='eqid' type='text' name='eq_field' value=''>
    <br><br>
    <input type='submit' value='Query'>
    <p>&nbsp;</p>

  </form>
  <div id="bin"></div>

  <script>
    $("#lot_query_bin_form").submit(function (e) {
      e.preventDefault();
      $.ajax({
        method: "POST",
        data: $(this).serialize(),
        success: function (e) {
          $('#bin').html(e);
        }
      });
    });
  </script>

{% endblock %}
